<app-contact-form></app-contact-form>
<hr>
<section class="container">
  <div class="row justify-content-center">
    <app-contact *ngFor="let contact of contacts" [newContact]="contact"></app-contact>
  </div>
</section>
