<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand text-white" routerLink="/home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/games"
          routerLinkActive="active">Games <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/new"
          routerLinkActive="active">New Game</a>
      </li>
    </ul>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button
        type="button"
        class="btn btn-primary"
        (click)="onLogin()"
        [disabled]="isLoggedIn">Login</button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="onLogout()"
        [disabled]="!isLoggedIn">Logout</button>
    </div>
  </div>
</nav>
