<button class="btn my-3" [ngClass]="currentlyEditedCountry ? 'btn-warning' : 'btn-primary'" (click)="showModal()">{{
  buttonText }}
</button>
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Country Information</h4>
        <button type="button" class="close pull-right" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="countryForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCountryName">Country</label>
              <select
                id="inputCountryName"
                class="form-control"
                name="inputCountryName"
                #name
                formControlName="name"
                required>
                <option selected [ngValue]="''">...name</option>
                <option *ngFor="let country of countries;">{{ country['countryName'] }}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputCountryCode">Country</label>
              <select
                id="inputCountryCode"
                class="form-control"
                name="inputCountryCode"
                #countryCode
                formControlName="countryCode"
                required>
                <option selected [ngValue]="''">...code</option>
                <option *ngFor="let country of countries;">{{country.countryCode}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCurrencyName">Currency</label>
              <select
                id="inputCurrencyName"
                class="form-control"
                name="inputCurrency"
                formControlName="currency"
                required>
                <option selected [ngValue]="''">...select</option>
                <option *ngFor="let country of countries;">{{ country.currency}}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="inputCurrencyCode">Currency</label>
              <select
                name="inputCurrencyCode"
                id="inputCurrencyCode"
                class="form-control"
                formControlName="currencyCode"
                required>
                <option selected [ngValue]="''">...code</option>
                <option *ngFor="let country of countries;">{{ country.currencyCode }}</option>
              </select>
            </div>
          </div>
          <button (click)="sendCountryData($event)" class="btn"
                  [ngClass]="currentlyEditedCountry ? 'btn-warning' : 'btn-primary'">
            {{ currentlyEditedCountry ? 'Save Changes' : 'Add Country' }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
