<form [formGroup]="boardsForm">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputName">Name</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        placeholder="e.g Chess"
        formControlName="name"
        required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPrice">Price</label>
      <input
        type="number"
        class="form-control"
        id="inputPrice"
        placeholder="$12.99"
        formControlName="price"
        required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputURL">Image URL</label>
      <input
        type="text"
        class="form-control"
        id="inputURL"
        placeholder="Use https://placeimg.com/640/480/any"
        formControlName="imgURL"
        required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputItems">Items Available</label>
      <input
        type="number"
        class="form-control"
        id="inputItems"
        formControlName="itemsAvailable"
        required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPlayers">Players</label>
      <input
        type="number"
        class="form-control"
        id="inputPlayers"
        formControlName="players"
        required>
    </div>
    <div class="form-group col-md-12">
      <label for="inputDesc">Description</label>
      <textarea
        class="form-control"
        name="description"
        id="inputDesc"
        cols="30"
        rows="10"
        placeholder="Explain what this game is about..."
        formControlName="description"
        required></textarea>
    </div>
  </div>
  <button (click)="submitData($event)" class="btn btn-primary">Add Game</button>
</form>
