<div class="card shadow" *ngIf="player">
  <img class="card-img-top" src="{{ player.avatarPath }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ player.name | uppercase }}</h5>
    <p class="card-text">Username: {{ player.username }}</p>
    <p class="card-text">ID: {{ player.id }}</p>
    <p class="card-text">Games Lost: {{ player.gamesLost }}</p>
    <p class="card-text">Games Won: {{ player.gamesWon}}</p>
    <p class="card-text">Registered on: {{ player.registerDate}}</p>
    <p class="card-text">Last logged: {{ player.lastLogin | date:'short'}}</p>
    <p class="card-text">Active: {{ player.activeHours}} hours.</p>
    <p class="card-text">Win chance: {{ winChance | percent}}</p>
  </div>
</div>
