.success-alert {
  width: 15rem;
  padding: 1.3rem 1.5rem;
  margin-top: 1rem;
  font-family: sans-serif;
  border-color: #d0e9c6;
  background-color: #dff0d8;
  color: #3c763d;
  border-radius: 5px;
  text-align: center;
}

.danger-alert {
  width: 15rem;
  padding: 1.3rem;
  font-family: sans-serif;
  border: 0.2rem solid #f5c6cb;
  color: #721c24;
  background-color: #f8d7da;
  border-radius: 5px;
  text-align: center;
}

.input-group {
  margin: .3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20rem;
}

.user-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
