<section class="user-inputs">
  <div class="input-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="username">
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="password">
  </div>
  <p *ngIf="username==='admin'&& password==='adminpass'" class="success-alert">"Hello Admin. Feel free to do whatever you
    want!"</p>
  <p *ngIf="username&&username!=='admin' || password&&password!=='adminpass'" class="danger-alert">"Invalid data"</p>
</section>
