<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="card col-lg-3 col-md-5 mx-3 mb-4" *ngFor="let video of videos">
      <img class="card-img-top mt-3" src="{{ video.coverImageUrl }}" alt="{{ video.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ video.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ video.coverImageUrl }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{ video.videoUrl }}</h6>
        <p class="card-text">{{ video.description }}</p>
      </div>
    </div>
  </div>
</div>
