<accordion>
  <div class="my-2" *ngFor="let animal of animals">
    <accordion-group [heading]="animal.name">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3">
            <img class="img-fluid img-thumbnail" src="{{ animal.imagePath }}" alt="{{ animal.name }}">
          </div>
          <div class="col-lg-9">
            <p>Animal age: {{ animal?.age}}</p>
            <p>Animal type: {{ animal?.type}}</p>
          </div>
        </div>
      </div>
    </accordion-group>
  </div>
</accordion>
