<ul class="list-group" *ngIf="players && segments === 'top-players'; else allPlayers">
  <li
    class="list-group-item"
    *ngFor="let player of players | filter:sortOption | slice:-3;">
    <a
      [routerLink]="['/players', segments, player.id]">
      {{ player.name | shorten:4 }}
    </a>
  </li>
</ul>
<ng-template #allPlayers>
  <ul class="list-group" *ngIf="players">
    <li
      class="list-group-item"
      *ngFor="let player of players">
      <a
        [routerLink]="['/players', segments, player.id]">
        {{ player.name | shorten:4 }}
      </a>
    </li>
  </ul>
</ng-template>


