<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Pipes</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/players','all-players']">Players</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/players','top-players']">Top Players</a>
    </li>
  </ul>
</nav>
