<div class="row">
  <div class="col-md-3">
    <img class="card-img-top" src="{{ game.imgPath }}" alt="Card image cap">
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ game.name }}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action">Price: ${{ game.price }}</li>
          <li class="list-group-item list-group-item-action">Items available: {{ game.itemsAvailable }}</li>
          <li class="list-group-item list-group-item-action">Players allowed to play: {{ game.playersAllowedToPlay }}</li>
        </ul>
        <p class="lead text-muted m-3">{{ game.description }}</p>
      </div>
    </div>
  </div>
</div>
