<div class="buttons">
  <span class="counter">{{ counter }}</span>
  <button class="increase" (click)="increase()">Increase</button>
  <button class="decrease" (click)="decrease()">Decrease</button>
</div>
