<div *ngIf="user">

</div>
<div class="modal-header">
  <h4 class="modal-title">{{ user.name }} ({{ user.username }}) with ID: {{ user.id }}</h4>
</div>

<div class="modal-body">
  <div class="col-lg-12">
    <h4>Address</h4>
    <p>Zipcode: {{ user.address.zipCode}}</p>
    <p>City: {{ user.address.city}}</p>
    <p>Street: {{ user.address.street}}</p>
    <p>Suite: {{ user.address.suite}}</p>
  </div>
  <div class="col-lg-12">
    <h4>Company</h4>
    <p>Name: {{ user['company'].name}}</p>
    <p>Catch Phrase: {{ user['company'].catchPhrase}}</p>
    <p>Business: {{ user['company'].bs}}</p>
  </div>
  <div class="col-lg-12">
    <h4>Contacts</h4>
    <p>Email: {{ user.email }}</p>
    <p>Phone: {{ user.phone }}</p>
    <p>Website: {{ user.website}}</p>
  </div>

  <div class="modal-footer text-center">
    <button
      type="button"
      (click)="onHideModal()"
      class="btn btn-default">Close
    </button>
  </div>
</div>
