<div class="d-inline-flex justify-content-between col-lg-12">
  <h3>Feel free to add, edit and delete posts!</h3>
  <button class="btn btn-primary" (click)="onEditPost()">Add New Post</button>
</div>
<hr>
<accordion>
  <accordion-group class="mb-2" *ngFor="let post of posts" heading="{{ post.title | titlecase }}">
    <div class="col-lg-12">
      <div class="row">
        <p class="m-0">{{ post.body }}</p>
        <div>
          <small id="postId" class="form-text text-muted mr-1">Post ID: {{ post.id }}</small>
          <small id="userId" class="form-text text-muted">User ID: {{ post.userId }}</small>
        </div>
        <div class="ml-auto">
          <button
            type="button"
            class="btn btn-warning btn-sm ml-auto mr-1"
            (click)="onEditPost(post)">Edit Post</button>
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="onDeleteConfirmation(post.id)">Delete</button>
        </div>
      </div>
    </div>
  </accordion-group>
</accordion>
