<div class="row">
  <div class="col-md-3">
    <img class="card-img-top" src="../../../assets/photographer.jpeg" alt="Card image cap">
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Randi Sang</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-action">Born: 3/15/1970</li>
          <li class="list-group-item list-group-item-action">Email: rsang1@yandex.ru</li>
          <li class="list-group-item list-group-item-action">Gender: Male</li>
          <li class="list-group-item list-group-item-action">Race: Tlingit-Haida</li>
          <li class="list-group-item list-group-item-action">Post code: 423650</li>
          <li class="list-group-item list-group-item-action">Company name: Treutel photography</li>
          <li class="list-group-item list-group-item-action">Address: 5119 Holy Cross Parkway</li>
          <li class="list-group-item list-group-item-action">Phone Number: (359) 1406197</li>
          <li class="list-group-item list-group-item-action">Job Title: Photographer</li>
        </ul>
      </div>
    </div>
  </div>
</div>
