<div class="user-container">
  <input type="text" id="username" name="username" [(ngModel)]="username">
  <span>Username</span>
  <p>{{ username }}</p>
  <button [disabled]="!username" (click)="reset()">Reset</button>
</div>
