.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 15rem;
}

.new-name {
  margin: .3rem 0;
}

.danger-alert {
  width: 14rem;
  padding: .3rem;
  font-family: sans-serif;
  color: #721c24;
  border-radius: 5px;
  text-align: center;
  margin: 0.3rem 0;
}

