<section>
  <div class="input-group">
    <label for="newName">New name</label>
    <input type="text" class="new-name" id="newName" name="newName" [(ngModel)]="newName" (keyup)="onKeyLog()">
    <button (click)="checkName()">Add Name</button>
    <p class="danger-alert" *ngIf="nameTooShort">Name is too short.</p>
    <ul>
      <h1>List of Names</h1>
      <li *ngFor="let name of names;">{{ name }}</li>
    </ul>
  </div>
</section>
