<pre class="card card-block card-header">{{message}}</pre>

<div class="modal-body text-center">
  <p>Are you sure you want to delete this user?</p>
  <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
  <button type="button" class="btn btn-primary" (click)="decline()">No</button>
</div>
