<button class="btn my-3" [ngClass]="editEmployee ? 'btn-warning' : 'btn-primary'" (click)="showModal()">{{ buttonText }}</button>
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Employee Information</h4>
        <button type="button" class="close pull-right" (click)="hideModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputName">Name</label>
              <input
                type="text"
                class="form-control"
                id="inputName"
                name="name"
                placeholder="First name"
                minlength="4"
                #name
                formControlName="name"
                required
              >
            </div>
            <div class="form-group col-md-6">
              <label for="inputPosition">Position</label>
              <input
                type="text"
                class="form-control"
                id="inputPosition"
                name="position"
                placeholder="e.g. Engineer"
                minlength="4"
                #position
                formControlName="position"
                required
              >
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input
              type="email"
              class="form-control"
              id="inputEmail"
              name="email"
              placeholder="example@gmail.com"
              #email
              formControlName="email"
              required
            >
          </div>
          <div class="form-group">
            <label for="inputLocation">Location</label>
            <input
              type="text"
              class="form-control"
              id="inputLocation"
              name="location"
              placeholder="ul. Dunav №13"
              minlength="6"
              #location
              formControlName="location"
              required
            >
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputDepartment">Department</label>
              <input
                type="text"
                class="form-control"
                id="inputDepartment"
                name="department"
                placeholder="Front-end"
                minlength="6"
                #department
                formControlName="department"
                required
              >
            </div>
            <div class="form-group col-md-6">
              <label for="inputPhoneNumber">Phone Number</label>
              <input
                type="text"
                class="form-control"
                id="inputPhoneNumber"
                name="phoneNumber"
                minlength="6"
                #phoneNumber
                formControlName="phoneNumber"
                required
              >
            </div>
          </div>
          <button (click)="sendEmployeeData($event)" class="btn" [ngClass]="editEmployee ? 'btn-warning' : 'btn-primary'">
            {{ editEmployee ? 'Save Changes' : 'Add Employee' }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
