<div class="modal-body text-center">
  <p>Are you sure you want to logout?</p>
  <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
  <button type="button" class="btn btn-primary ml-1" (click)="decline()" >No</button>
</div>
