<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium beatae culpa delectus
    dignissimos dolores doloribus incidunt natus nemo nisi praesentium quibusdam, ratione rem repellat soluta, sunt
    veritatis vero, voluptates?</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, eligendi.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/about" role="button">Learn more</a>
  </p>
</div>
