.img-box {
  border: 1px solid #e4e4e4;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  text-align: center;
}

.img-box header {
  text-align: left;
  padding: 1rem;
  background: #f1f1f1;
  font-family: sans-serif;
}
