<p>Hello there, my name is <strong>{{ person.name }}</strong> I am <strong>{{ person.age }}</strong> years old
  and I like to<strong>{{ person.hobbies }}</strong> My favorite animal is <strong>{{ person.favAnimal }}</strong> I have
  a thing for colors, my favorite one is {{ person.favColor }} I also like <strong>{{ person.favFood }}</strong>
</p>
