<form *ngIf="animalsFormGroup" [formGroup]="animalsFormGroup" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="name">Name *</label>
    <input
      type="text"
      class="form-control"
      id="name"
      formControlName="name"
      placeholder="Gosho">
  </div>
  <div class="form-group">
    <label for="type">Type *</label>
    <input
      type="text"
      class="form-control"
      id="type"
      placeholder="Dog"
      formControlName="type">
  </div>
  <div class="form-group">
    <label for="age">Age *</label>
    <input
      type="number"
      class="form-control"
      id="age"
      formControlName="age">
  </div>
  <div class="form-group">
    <label for="imagePath">Image URL</label>
    <input
      type="text"
      class="form-control"
      id="imagePath"
      formControlName="imagePath">
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!animalsFormGroup.valid">Submit</button>
</form>
