<div class="container">
  <div class="col-lg-8 col-md-8 mx-auto mt-4 mb-3">
    <h1>Add a Post</h1>
    <form #postsForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label for="title">Title *
          <span
            *ngIf="!title.valid && title.touched">
            {{ title.value.length ? 'Title must me 6 chars or more.':'Please enter a title.'}}
          </span>
        </label>
        <input
          type="text"
          name="title"
          id="title"
          class="form-control"
          ngModel
          #title="ngModel"
          minlength="6"
          required>
      </div>
      <div id="paths" ngModelGroup="paths">
        <div class="form-group">
          <label for="imgPath">Image URL <span class="text-muted">(optional)</span></label>
          <input
            type="text"
            name="imgPath"
            id="imgPath"
            class="form-control"
            ngModel>
        </div>
        <div class="form-group">
          <label for="videoPath">Video URL <span class="text-muted">(optional)</span></label>
          <input
            type="text"
            name="videoPath"
            id="videoPath"
            class="form-control"
            ngModel
            appVideoUrlValidator>
        </div>
      </div>
      <div class="form-group">
        <label for="content">Content *
          <span
            *ngIf="!content.valid && content.touched">
            {{ content.value.length ? 'Must me 20 chars or more.':'Please enter some content.'}}
          </span>
        </label>
        <textarea
          name="content"
          id="content"
          rows="10"
          class="form-control"
          ngModel
          #content="ngModel"
          minlength="20"
          required></textarea>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!postsForm.valid">Add Post</button>
    </form>
  </div>
</div>
