<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">Animals</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" (click)="onFetch()" routerLink="/animals">Fetch Animals</a>
    </li>
  </ul>

  <ul class="navbar-nav mr-2">
    <li class="nav-item" *ngIf="!isLoggedIn; else logout">
      <a
        class="nav-link"
        style="cursor: pointer"
        (click)="onLoginModal()">Login</a>
    </li>
    <ng-template #logout>
      <li class="nav-item">
        <a
          class="nav-link"
          style="cursor: pointer"
          (click)="onLogout()">Logout</a>
      </li>
    </ng-template>
  </ul>
</nav>
