<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-5 mr-auto ml-auto">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit($event)">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstName">Email</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              placeholder="First name"
              minlength="4"
              #firstName
              formControlName="firstName"
              required
            >
          </div>
          <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              name="lastName"
              placeholder="Last Name"
              minlength="4"
              #lastName
              formControlName="lastName"
              required
            >
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            name="email"
            placeholder="example@gmail.com"
            minlength="6"
            #email
            formControlName="email"
            required
          >
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input
              type="text"
              class="form-control"
              id="inputCity"
              name="city"
              #city
              formControlName="city"
              required
            >
          </div>
          <div class="form-group col-md-6">
            <label for="inputPhoneNumber">Phone Number</label>
            <input
              type="text"
              class="form-control"
              id="inputPhoneNumber"
              name="phoneNumber"
              #phoneNumber
              formControlName="phoneNumber"
              required
            >
          </div>
        </div>
        <button class="btn btn-primary">Add Contact</button>
      </form>
    </div>
  </div>
</div>
