<div class="card m-1" style="width: 18rem;">
  <div class="card-header">
    {{ newContact.firstName }} {{ newContact.lastName }}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ newContact.email }}</li>
    <li class="list-group-item">{{ newContact.city }}</li>
    <li class="list-group-item">{{ newContact.phoneNumber }}</li>
  </ul>
</div>
