<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Photography</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/home"
          routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/about"
          routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/album"
          routerLinkActive="active">Album</a>
      </li>
    </ul>
  </div>
</nav>
