/* You can add global styles to this file, and also import other style files */
html {
  font-family: sans-serif;
}

input, select, button {
  padding: .4rem;
  border: 1px solid #ced4da;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}

select {
  background-color: #fff;
}

.img {
  width: 260px;
  display: block;
  margin: .5rem 0;
  border: 4px solid #eee;
  -webkit-box-shadow: 1px 1px 7px #000;
  -moz-box-shadow: 1px 1px 7px #000;
  box-shadow: 1px 1px 7px #000;
}
