.success-alert {
  width: 15rem;
  padding: 1.3rem 1.5rem;
  margin-top: 1rem;
  font-family: sans-serif;
  border-color: #d0e9c6;
  background-color: #dff0d8;
  color: #3c763d;
  border-radius: 5px;
  text-align: center;
}
