<form
  *ngIf="userFormGroup && currentUrl === '/users'"
  [formGroup]="userFormGroup"
  (ngSubmit)="onSubmit()"
  novalidate>
  <div class="modal-header">
    <h4 class="modal-title">Add User</h4>
  </div>

  <div class="modal-body">
    <div class="form-row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="name">Name *</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="username">Username *</label>
          <input
            type="text"
            id="username"
            class="form-control"
            formControlName="username">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email *</label>
      <input
        type="text"
        id="email"
        class="form-control"
        formControlName="email">
    </div>
    <hr>
    <!-- ADDRESS -->
    <div formGroupName="address">
      <h3>Address</h3>
      <div class="form-row">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="city">City * <span class="text-muted">(not less than 5 characters)</span></label>
            <input
              type="text"
              id="city"
              class="form-control"
              formControlName="city">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="street">Street *</label>
            <input
              type="text"
              id="street"
              class="form-control"
              formControlName="street">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-3">
          <div class="form-group">
            <label for="zipCode">Zip code *</label>
            <input
              type="text"
              id="zipCode"
              class="form-control"
              formControlName="zipCode">
          </div>
        </div>
        <div class="col-lg-9">
          <div class="form-group">
            <label for="suite">Suite <span class="text-muted">(optional)</span></label>
            <input
              type="text"
              id="suite"
              class="form-control"
              formControlName="suite">
          </div>
        </div>
      </div>
      <hr>
      <!-- GEO -->
      <div formGroupName="geo">
        <h3>Geo</h3>
        <div class="form-row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="lat">lat <span class="text-muted">(optional)</span></label>
              <input
                type="text"
                id="lat"
                class="form-control"
                formControlName="lat">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="lng">lng <span class="text-muted">(optional)</span></label>
              <input
                type="text"
                id="lng"
                class="form-control"
                formControlName="lng">
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div formGroupName="company">
      <h3>Company</h3>
      <div class="form-group">
        <label for="companyName">Name * <span class="text-muted">(minimum 4 characters)</span></label>
        <input
          type="text"
          id="companyName"
          class="form-control"
          formControlName="name">
      </div>
      <div class="form-group">
        <label for="catchPhrase">Catch Phrase <span class="text-muted">(optional)</span></label>
        <input
          type="text"
          id="catchPhrase"
          class="form-control"
          formControlName="catchPhrase">
      </div>
      <div class="form-group">
        <label for="bs">Business and Finances * <span
          class="text-muted">(character length between 6 and 20)</span></label>
        <input
          type="text"
          id="bs"
          class="form-control"
          formControlName="bs">
      </div>
    </div>
    <hr>
    <div class="form-group">
      <label for="phoneNumber">Phone Number * <span class="text-muted">(minimum 10 characters)</span></label>
      <input
        type="text"
        id="phoneNumber"
        class="form-control"
        formControlName="phone">
    </div>
    <div class="form-group">
      <label for="website">Website <span class="text-muted">(optional)</span></label>
      <input
        type="text"
        id="website"
        class="form-control"
        formControlName="website">
    </div>
  </div>

  <div class="modal-footer text-center">
    <button
      type="button"
      (click)="onHideModal()"
      class="btn btn-default">Close
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!userFormGroup.valid">Save
    </button>
  </div>
</form>
<form
  *ngIf="postFormGroup && currentUrl === '/posts'"
  [formGroup]="postFormGroup"
  (ngSubmit)="onSubmit()"
  novalidate>
  <div class="modal-header">
    <h4 class="modal-title">Add Post</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        class="form-control"
        formControlName="title">
    </div>
    <div class="form-group">
      <label for="postBody">Post</label>
      <textarea
        name="postBody"
        id="postBody"
        class="form-control"
        rows="10"
        formControlName="body"></textarea>
    </div>
  </div>

  <div class="modal-footer text-center">
    <button
      type="button"
      (click)="onHideModal()"
      class="btn btn-default">Close
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!postFormGroup.valid">Save
    </button>
  </div>
</form>
