<app-edit-country [buttonText]="'New Country'" [editMode]="false"></app-edit-country>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Code</th>
    <th scope="col">Currency</th>
    <th scope="col">Currency Code</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let country of countries; let i=index">
    <th scope="row">{{ country.id }}</th>
    <td>{{ country.name }}</td>
    <td>{{ country.countryCode}}</td>
    <td>{{ country.currency }}</td>
    <td>{{ country.currencyCode }}</td>
    <td>
      <div class="actions">
        <app-edit-country
          [buttonText]="'Edit'"
          [editMode]="true"
          [currentlyEditedCountry]="country"></app-edit-country>
        <div class="mx-3"></div>
        <button (click)="removeCountry(i)" class="btn btn-danger">Delete</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
