<app-my-hidden></app-my-hidden>
<hr>
<app-conditional-hidden></app-conditional-hidden>
<hr>
<app-my-underline></app-my-underline>
<hr>
<app-my-highlight></app-my-highlight>
<hr>
<app-my-shadow></app-my-shadow>
