.img {
  width: 260px;
  display: block;
  border: .5rem solid #f8f9fa;
  border-radius: .2rem;
  margin: 1rem auto;
  outline: darkgreen;
  box-shadow: 1px 1px 6px -1px #777;
}

.img-wrap {
  text-align: center;
}
