<div class="container mt-4">
  <h3 class="mb-3">Places form</h3>
  <form *ngIf="placesForm" [formGroup]="placesForm" (ngSubmit)="onSubmit()" novalidate>
    <div id="names" class="form-row" formGroupName="names">
      <div class="form-group col-md-6">
        <label for="name">Name *
          <span
            class="text-muted"
            *ngIf="!placesForm.get('names.placeName').valid &&
            (placesForm.get('names.placeName').dirty || placesForm.get('names.placeName').touched)"> is invalid</span>
          <span
            class="text-muted"
            *ngIf="placesForm.get('names.placeName').valid &&
            placesForm.get('names.placeName').dirty"> is verified</span>
        </label>
        <input
          type="text"
          id="name"
          name="name"
          class="required form-control"
          formControlName="placeName">
      </div>
      <div class="form-group col-md-6">
        <label for="city">City *
          <span
            class="text-muted"
            *ngIf="!placesForm.get('names.cityName').valid &&
            (placesForm.get('names.cityName').dirty || placesForm.get('names.cityName').touched)"> must be 2 or more characters</span>
          <span
            class="text-muted"
            *ngIf="placesForm.get('names.cityName').valid &&
            (placesForm.get('names.cityName').dirty || placesForm.get('names.cityName').touched)"> is verified</span>
        </label>
        <input
          type="text"
          id="city"
          name="city"
          class="form-control required"
          formControlName="cityName">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="rating">Rating <span class="text-muted">(optional)</span></label>
        <input
          type="number"
          id="rating"
          name="rating"
          class="form-control optional"
          formControlName="rating">
      </div>
      <div class="form-group col-md-9">
        <label for="imgPath">Image URL *
          <span
            class="text-muted"
            *ngIf="!placesForm.get('imgPath').valid &&
            (placesForm.get('imgPath').dirty || placesForm.get('imgPath').touched)"> must be a valid image URL</span>
          <span
            class="text-muted"
            *ngIf="placesForm.get('imgPath').valid &&
            (placesForm.get('imgPath').dirty || placesForm.get('imgPath').touched)"> is verified</span>
        </label>
        <input
          type="text"
          id="imgPath"
          name="imgPath"
          class="form-control required"
          formControlName="imgPath">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="description">Description <span class="text-muted">(optional)</span></label>
        <textarea
          name="description"
          id="description"
          class="form-control optional"
          rows="10"
          formControlName="description"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="placesForm.invalid ||
            placesForm.get('description').status === 'PENDING'">Submit
    </button>
  </form>
</div>
