<section class="compare-container">
  <input type="text" name="number" id="number" [(ngModel)]="number">
  <p *ngIf="number && number!=10">{{ number > 10 ? 'Greater than 10.' : 'Less than 10.' }}</p>
</section>
