<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container px-5">
    <h1 class="display-4">Welcome, User!</h1>
    <p class="lead">Make sure you are logged in before trying to add a new game or trying to see detailed information
      about one.</p>
  </div>
</div>
