<app-compare></app-compare>
<hr>
<app-hidden-content></app-hidden-content>
<hr>
<app-user-admin></app-user-admin>
<hr>
<app-gender-select></app-gender-select>
<hr>
<app-colored-paragraphs></app-colored-paragraphs>
<hr>
<app-img-rounded></app-img-rounded>
<hr>
<app-names></app-names>
<hr>
<app-date-logs></app-date-logs>
