<section class="genders">
  <select name="gender" id="gender" [(ngModel)]="gender" (click)="onPictureChange()">
    <option [ngValue]="'default'" [selected]="gender==='default'" disabled hidden>Choose gender</option>
    <option [ngValue]="'male'">Male</option>
    <option [ngValue]="'female'">Female</option>
    <option [ngValue]="'other'">Other</option>
  </select>
  <img class="img" [src]="imgUrl" alt="{{gender}}">
  <input
    type="text"
    name="otherGender"
    placeholder="Other"
    *ngIf="gender==='other'"
    [(ngModel)]="otherGender"
    (keyup)="onCharInput()">
</section>
