<section>
  <img [ngClass]="getLettersCount()" class="img" src="../../assets/dogo.jpeg" alt="dog">
  <input type="text" id="letters" name="letters" [(ngModel)]="letters" (keyup)="onKeyPressLog()">
</section>
