/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: sans-serif;
}
.increase, .decrease, .swap {
  background: #f8f9fa;
  border: 1px solid transparent;
  padding: .5rem;
  border-radius: 0.2rem;
  margin: .2rem;
}
