<div class="row">
  <div class="col-md-4">
    <h1 class="mb-2">Board games</h1>
    <ul class="list-group">
      <li *ngFor="let game of games; let i=index" class="list-group-item">
        <a
          [routerLink]="[i]"
          routerLinkActive="active">{{ game.name }} ${{ game.price }}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>
