<div class="d-inline-flex justify-content-between col-lg-12">
  <h3>Feel free to add, edit and delete users!</h3>
  <button class="btn btn-primary" (click)="onEditUser()">Add New User</button>
</div>
<hr>
<div class="col-lg-12">
  <div class="row">
    <div class="col-lg-4 mb-3" *ngFor="let user of users">
      <div class="card">
        <div class="card-body">
          <div class="d-inline-flex justify-content-between w-100 mb-3">
            <h5 class="card-title m-0">{{ user.name }}</h5>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="onDeleteModal(user.id)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <div class="d-inline-flex justify-content-between w-100">
            <button
              type="button"
              class="btn btn-info text-white"
              (click)="onSeeMore(user)">See More...</button>
            <button
              type="button"
              class="btn btn-warning"
              (click)="onEditUser(user)">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
