<div class="radio-buttons">
  <div class="radio-button">
    <label for="red">Red</label>
    <input type="radio" name="color" id="red" value="red" [(ngModel)]="color">
  </div>
  <div class="radio-button">
    <label for="blue">Blue</label>
    <input type="radio" name="color" id="blue" value="blue" [(ngModel)]="color">
  </div>
  <div class="radio-button">
    <label for="green">Green</label>
    <input type="radio" name="color" id="green" value="green" [(ngModel)]="color">
  </div>
  <div class="radio-button">
    <label for="yellow">Yellow</label>
    <input type="radio" name="color" id="yellow" value="yellow" [(ngModel)]="color">
  </div>
  <p [chosenColor]="color" myHighlight>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque autem
    consequuntur cum dolore doloremque ex fugit ipsam laboriosam minus molestias nam necessitatibus, nihil, obcaecati
    quidem repudiandae rerum tenetur, unde.</p>
</div>
