.radio-buttons {
  border: 1px solid #aaa;
  width: 20rem;
  padding: 1rem;
}

.danger-paragraph {
  color: #721c24;
  border-color: #f5c6cb;
}

.warning-paragraph {
  color: #856404;
  border-color: #ffeeba;
}

.success-paragraph {
  color: #155724;
  border-color: #c3e6cb;
}

.primary-paragraph {
  color: #004085;
  border-color: #b8daff;
}
