<div class="modal-header">
  <h5>Login Form</h5>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control">
  </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    <button type="button" class="btn btn-default" (click)="onHide()">Cancel</button>
</div>
