<app-new-employee-modal
  (employeeAdded)="addToTable($event)"
  [buttonText]="'New Employee'"
></app-new-employee-modal>
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th>Name</th>
    <th>Email</th>
    <th>Location</th>
    <th>Phone Number</th>
    <th>Department</th>
    <th>Position</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees; let i=index">
    <th scope="row">{{ employee.id }}</th>
    <td>{{ employee.name }}</td>
    <td>{{ employee.email }}</td>
    <td>{{ employee.location }}</td>
    <td>{{ employee.phoneNumber }}</td>
    <td>{{ employee.department}}</td>
    <td>{{ employee.position }}</td>
    <td class="justify-content-between">
      <app-new-employee-modal
        [buttonText]="'Edit'"
        [editMode]="true"
        [editEmployee]="employee"
        (employeeUpdated)="updateEmployee($event)"
      ></app-new-employee-modal>
      <div class="d-inline-block mx-1"></div>
      <button class="btn btn-danger" (click)="removeEmployee(i)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

