<section>
  <button (click)="logCurrentDate()">Log Date</button>
  <ul class="logs-list">
    <h1>List of Logs</h1>
    <li
      *ngFor="let log of logs; let i=index"
      [ngStyle]="{'color':(i%2!==0 ? '#337ab7' : '')}"
      [ngClass]="{'even':i%2==0}">{{ log }}
    </li>
  </ul>
</section>
