<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 col-sm-12 mb-4" *ngFor="let post of posts">
      <div class="card">
        <div class="card-header">
          {{ post.title }}
        </div>
        <div class="card-body">
          <p class="card-title">Video URL: {{ post.videoPath }}</p>
          <p class="card-title">Image URL: {{ post.imgPath }}</p>
          <p class="card-text">Content: {{ post.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
