.default,
.red,
.dark-blue,
.sea-blue,
.yellow,
.orange {
  color: #fff;
  width: 14rem;
  text-align: center;
  padding: 1rem;
  border-radius: .4rem;
}

.red {
  background-color: #BF112E;
}

.dark-blue {
  background-color: #02173E;
}

.sea-blue {
  background-color: #13A399;
}

.yellow {
  background-color: #F5941C;
}

.orange {
  background-color: #F16541;
}

.default {
  background-color: #fff;
  color: #000;
}
