<section class="colored-paragraphs">
  <select name="color" id="color" [(ngModel)]="selectedColor">
    <option [ngValue]="'default'" [selected]="selectedColor==='default'">Choose a color</option>
    <option [ngValue]="'red'">Red</option>
    <option [ngValue]="'dark-blue'">Dark-blue</option>
    <option [ngValue]="'sea-blue'">Sea-blue</option>
    <option [ngValue]="'yellow'">Yellow</option>
    <option [ngValue]="'orange'">Orange</option>
  </select>
  <div [ngSwitch]="selectedColor">
    <p *ngSwitchCase="'default'" class="default">Look at me, I change colors!!!</p>
    <p *ngSwitchCase="'red'" class="red">Look at me, I change colors!!!</p>
    <p *ngSwitchCase="'dark-blue'" class="dark-blue">Look at me, I change colors!!!</p>
    <p *ngSwitchCase="'sea-blue'" class="sea-blue">Look at me, I change colors!!!</p>
    <p *ngSwitchCase="'yellow'" class="yellow">Look at me, I change colors!!!</p>
    <p *ngSwitchCase="'orange'" class="orange">Look at me, I change colors!!!</p>
  </div>
</section>
