<div class="container">
  <div class="row">
    <div class="col-lg-12 mb-2" *ngFor="let place of places">
      <div class="card">
        <h5 class="card-header">{{ place.name }}</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <img class="img-thumbnail img-fluid" src="{{ place.imgPath }}" alt="{{ place.name }}">
            </div>
            <div class="col-lg-8">
              <h5 class="card-title">at {{ place.city }}</h5>
              <p class="card-text">with {{ place.rating }}/5 rating.</p>
              <p class="card-text">{{ place.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

