<section>
  <div class="inputs">
    <div class="input-group">
      <label for="xCoordinate">X coordinate</label>
      <input
        type="number"
        id="xCoordinate"
        name="xCoordinate"
        [(ngModel)]="xAxis">
    </div>
    <div class="input-group">
      <label for="yCoordinate">Y coordinate</label>
      <input
        type="number"
        id="yCoordinate"
        name="yCoordinate"
        [(ngModel)]="yAxis">
    </div>
    <div class="input-group">
      <label for="shadowBlur">Shadow Blue</label>
      <input
        type="number"
        id="shadowBlur"
        name="shadowBlur"
        [(ngModel)]="shadowBlur">
    </div>
    <div class="input-group">
      <label for="color">Color</label>
      <input
        type="color"
        id="color" name="color"
        [(ngModel)]="color">
    </div>
  </div>
  <div
    class="box"
    [myShadowBlur]="shadowBlur"
    [shadowX]="xAxis"
    [shadowY]="yAxis"
    [myColor]="color"
    myShadow
  ></div>
</section>
