<div class="row text-center text-lg-left">

  <div class="col-lg-3 col-md-4 col-xs-6">
    <a class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="../../../assets/nature-1.jpeg" alt="nature">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="../../../assets/nature-2.jpeg" alt="nature">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="../../../assets/nature-3.jpeg" alt="nature">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="../../../assets/nature-4.jpeg" alt="nature">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="../../../assets/nature-5.jpeg" alt="nature">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="../../../assets/nature-6.jpeg" alt="nature">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="../../../assets/nature-7.jpeg" alt="nature">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="../../../assets/nature-8.jpeg" alt="nature">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="../../../assets/nature-9.jpeg" alt="nature">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="../../../assets/nature-10.jpeg" alt="nature">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="../../../assets/nature-11.jpg" alt="nature">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="../../../assets/nature-12.jpeg" alt="nature">
    </a>
  </div>
</div>
