<form>
  <div class="form-group row">
    <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input
        name="inputTitle"
        type="text"
        class="form-control"
        id="inputTitle"
        placeholder="e.g Top 10 Most Funny Videos 2018"
        #title>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCoverImgUrl" class="col-sm-2 col-form-label">Cover Image URL</label>
    <div class="col-sm-10">
      <input
        name="inputCoverImgUrl"
        type="text"
        class="form-control"
        id="inputCoverImgUrl"
        placeholder="Placeholder img url"
        #coverImgUrl>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputVideoUrl" class="col-sm-2 col-form-label">Video URL</label>
    <div class="col-sm-10">
      <input
        name="inputVideoUrl"
        type="text"
        class="form-control"
        id="inputVideoUrl"
        placeholder="Youtube link"
        #videoUrl>
    </div>
  </div>
  <div class="form-group">
    <label for="inputDescription">Description</label>
    <textarea
      class="form-control"
      name="inputDescription"
      id="inputDescription"
      cols="30"
      rows="10"
      #description></textarea>
  </div>
  <input
    class="btn btn-primary"
    type="submit"
    (click)="onSendData($event)">
</form>

