<section>
  <label for="hiddenDiv">Show hidden content</label>
  <input type="checkbox" name="hiddenDiv" id="hiddenDiv" [(ngModel)]="isVisible">
  <div class="secret-content" [ngClass]="{'visible':isVisible}">Secret content is revealed</div>
</section>
