<div class="row">
  <div class="col-lg-4">
    <h2>Top players</h2>
    <div class="mb-2 mt-3">
      <app-filter></app-filter>
    </div>
    <app-players-list></app-players-list>
  </div>
  <div class="col-lg-8">
    <router-outlet></router-outlet>
  </div>
</div>
